<% content_for :title, "Entrar" %>
<div class="auth panel">
  <h1 class="page-title">Entrar</h1>
  <%= form_with url: session_path do |form| %>
    <div class="field">
      <%= form.label :email_address, "E-mail" %>
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", value: params[:email_address] %>
    </div>
    <div class="field">
      <%= form.label :password, "Senha" %>
      <%= form.password_field :password, required: true, autocomplete: "current-password", maxlength: 72 %>
    </div>
    <%= form.submit "Entrar", class: "btn block" %>
  <% end %>
  <p class="alt">Não tem conta? <%= link_to "Cadastre-se", new_registration_path %></p>
</div>
